<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.css">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/font-awesome.css">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>快递物流查询</h1>
            <div class="row">
                <div class="col-xs-12 company">
                    <input style="cursor: pointer;" id="companyName" readonly class="company-text" type="text" id="number" placeholder="请选择快递公司">
                    <div class="company-icon"><i class="fa fa-angle-down fa-2x"></i></div>
                    <div class="box">
                        <div class="always">
                            <p class="warn-text">常用快递</p>
                            <ul>
                                <li key="shunfeng">顺丰</li>
                                <li key="shentong">申通</li>
                                <li key="yuantong">圆通</li>
                                <li key="zhongtong">中通</li>
                                <li key="huitong">百世汇通(百世快递)</li>
                                <li key="yunda">韵达</li>
                                <li key="tiantian">天天</li>
                                <li key="debangwuliu">德邦物流</li>
                                <li key="quanfengkuaidi">全峰</li>
                                <li key="youzhengguonei">中国邮政(国内)</li>
                            </ul>
                        </div>
                        <!--所有快递-->
                        <div class="all">
                            <p class="warn-text">按首字母查找</p>
                            <ul class="ul-all">
                                <li key="aae">AAE快递</li>
                                <li key="aj">安捷快递</li>
                                <li key="anwl">安能物流</li>
                                <li key="axd">安信达快递</li><br class="clear-both" />
                                <li key="bgn">布谷鸟快递</li>
                                <li key="bgpyghx">包裹、平邮、挂号信</li><br class="clear-both" />
                                <li key="chengji">城际快递</li>
                                <li key="chuanzhi">传志快递</li>
                                <li key="coe">东方快递</li>
                                <li key="cs">城市100快递</li>
                                <li key="cszx">城市之星物流</li>
                                <li key="ctwl">长通物流</li>
                                <li key="cxwl">传喜物流</li><br class="clear-both" />
                                <li key="debang">德邦物流</li>
                                <li key="dhl">DHL快递</li>
                                <li key="dpex">DPEX快递</li>
                                <li key="ds">D速快递</li>
                                <li key="dsf">递四方速递</li>
                                <li key="dtwl">大田物流</li>
                                <li key="dywl">大洋物流</li><br class="clear-both" />
                                <li key="fbwl">飞邦物流</li>
                                <li key="fedex">FEDEX国际快递</li>
                                <li key="fedexcn">FEDEX国内快递</li>
                                <li key="feibao">飞豹快递</li>
                                <li key="feihu">飞狐快递</li>
                                <li key="feiyang">飞洋快递</li>
                                <li key="fengda">丰达快递</li>
                                <li key="fkd">飞康达快递</li><br class="clear-both" />
                                <li key="gjbg">国际包裹</li>
                                <li key="gsdwl">共速达物流</li>
                                <li key="gtsd">高铁速递</li>
                                <li key="guada">冠达快递</li>
                                <li key="guangtong">广通速递</li>
                                <li key="guotong">国通快递</li>
                                <li key="gznd">港中能达</li><br class="clear-both" />
                                <li key="henglu">恒路物流</li>
                                <li key="hswl">昊盛物流</li>
                                <li key="huaqi">华企快递</li>
                                <li key="huiqiang">汇强快递</li>
                                <li key="huitong">汇通快递</li>
                                <li key="hxlwl">华夏龙物流</li><br class="clear-both" />
                                <li key="jiayunmei">加运美快递</li>
                                <li key="jingdong">京东快递</li>
                                <li key="jingguang">京广快递</li>
                                <li key="jinyue">晋越快递</li>
                                <li key="jldt">嘉里大通物流</li>
                                <li key="jywl">佳怡物流</li><br class="clear-both" />
                                <li key="krwl">宽容物流</li>
                                <li key="kuaijie">快捷快递</li><br class="clear-both" />
                                <li key="lejiedi">乐捷递快递</li>
                                <li key="lianhaotong">联昊通快递</li>
                                <li key="lijisong">立即送</li>
                                <li key="longbang">龙邦快递</li><br class="clear-both" />
                                <li key="meilong">美龙快递</li>
                                <li key="minbang">民邦快递</li>
                                <li key="minhang">民航快递</li><br class="clear-both" />
                                <li key="quanfeng">全峰快递</li>
                                <li key="quanritong">全日通快递</li>
                                <li key="quanyi">全一快递</li><br class="clear-both" />
                                <li key="rufengda">如风达快递</li><br class="clear-both" />
                                <li key="santai">三态速递</li>
                                <li key="shengan">圣安物流</li>
                                <li key="shengfeng">盛丰物流</li>
                                <li key="shenghui">盛辉物流</li>
                                <li key="shentong">申通快递</li>
                                <li key="shiyun">世运快递</li>
                                <li key="shunfeng">顺丰快递</li>
                                <li key="stwl">速通物流</li>
                                <li key="suer">速尔快递</li><br class="clear-both" />
                                <li key="tdhy">天地华宇</li>
                                <li key="thtx">通和天下物流</li>
                                <li key="tiantian">天天快递</li>
                                <li key="tnt">TNT快递</li><br class="clear-both" />
                                <li key="weibang">伟邦快递</li>
                                <li key="weitepai">微特派快递</li>
                                <li key="wxwl">万象物流</li><br class="clear-both" />
                                <li key="xinbang">新邦物流</li>
                                <li key="xindan">新蛋物流</li>
                                <li key="xlyt">祥龙运通</li><br class="clear-both" />
                                <li key="yafeng">亚风快递</li>
                                <li key="ycwl">远成物流</li>
                                <li key="yibang">一邦快递</li>
                                <li key="yitongda">易通达</li>
                                <li key="yousu">优速快递</li>
                                <li key="yuanfeihang">原飞航快递</li>
                                <li key="yuantong">圆通快递</li>
                                <li key="yuefeng">越丰快递</li>
                                <li key="yunda">韵达快递</li>
                                <li key="yuntong">运通快递</li>
                                <li key="yxwl">宇鑫物流</li>
                                <li key="yzjc">元智捷诚快递</li><br class="clear-both" />
                                <li key="zhongtie">中铁快运</li>
                                <li key="zhongtong">中通快递</li>
                                <li key="zhongyou">中邮物流</li>
                                <li key="zjs">宅急送快递</li>
                                <li key="zmkm">芝麻开门</li>
                                <li key="ztwy">中天万运快递</li>
                                <li key="zzjh">郑州建华快递</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 company">
                    <input id="companyId" class="company-text" type="number" id="number" placeholder="请输入运单号">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <div class="company-icon record"><i class="fa fa-clock-o fa-2x"></i></div>
                    <div class="record-div" id="records">
                        <ul class="record-ul">
                            <li v-for="record in items" v-on:click="toggle($index)">
                                <span style="color:#3c9;">{{record.name}}</span>
                                <span style="margin-left:10px;">{{record.id}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button id="send" class="col-xs-12 col-sm-6  btn btn-success" type="button">查询</button>


                <div class="col-xs-12 ifo" id="app">
                    查询结果<br/>
                    <ul class="row">
                        <li class="row col-xs-12" v-for="item in items">
                            <span>{{item.time}}</span> <br>
                            <span>{{item.context}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/jquery-3.1.1.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/vue2.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>