<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.css">
    <link rel="stylesheet" href="http://oj3eoe0eo.bkt.clouddn.com/font-awesome.css">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>快递物流查询</h1>
            <div class="row">
                <div class="col-xs-12 company">
                    <input style="cursor: pointer;" id="companyName" readonly class="company-text" type="text" id="number" placeholder="请选择快递公司">
                    <div class="company-icon"><i class="fa fa-angle-down fa-2x"></i></div>
                    <div class="box">
                        <div class="always">
                            <p class="warn-text">常用快递</p>
                            <ul>
                                <li key="shunfeng">顺丰</li>
                                <li key="shentong">申通</li>
                                <li key="yuantong">圆通</li>
                                <li key="zhongtong">中通</li>
                                <li key="huitong">百世快递(原汇通)</li>
                                <li key="yunda">韵达</li>
                                <li key="tiantian">天天</li>
                                <li key="zhaijisong">宅急送</li>
                                <li key="debang">德邦物流</li>
                                <li key="quanfeng">全峰</li>
                                <li key="youzhengguonei">中国邮政(国内)</li>
                            </ul>
                        </div>
                        <!--所有快递-->
                        <div id="company" class="all">
                            <p class="warn-text">按首字母查找</p>
                            <ul class="ul-all">
                                <li v-on:click="toggle($index)" v-for="item in items">{{item.expName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 company">
                    <input id="companyId" class="company-text" type="number" id="number" placeholder="请输入运单号">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <div class="company-icon record"><i class="fa fa-clock-o fa-2x"></i></div>
                    <div class="record-div" id="records">
                        <ul class="record-ul">
                            <li v-for="record in items" v-on:click="toggle($index)">
                                <span style="color:#3c9;">{{record.name}}</span>
                                <span style="margin-left:10px;">{{record.id}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button id="send" class="col-xs-12 col-sm-6  btn btn-success" type="button">查询</button>


                <div class="col-xs-12 ifo" id="app">
                    查询结果<br/>
                    <ul class="row">
                        <template v-if="getFlag()">
                        <li class="row col-xs-12" v-for="item in items">
                            <span>{{item.time}}</span> <br>
                            <span>{{item.context}}</span>
                        </li>
                        </template>
                        <template v-else>
                                <li class="row col-xs-12">
                                    <span>查询失败</span>
                                </li>
                        </template>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/jquery-3.1.1.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/vue2.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>